/* 
  black: #342E37
  blue: #3C91E6
  green: #A2D729
  white: #FAFFFD
  orange?: #FA824C
  ^^ Not sure about including that one. Perhaps a halloween color?
*/

body {
  background-color: #FAFFFD;
  background-image: url('../res/paper-backround.jpg');
  background-size:cover;
  margin: 40px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 18px;
  color: #342E37;
  padding: 0 10px
}

h1, h2, h3 {
  line-height: 1.2
}

p img {
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}