.world__content {
    overflow: scroll;
    height: 12em;
    white-space: pre-line;
    border-width: 35px;
    border-style: solid;
    border-image: url('../res/content-border.svg') 25% round;
  }  

.world__actions {
  margin-top: 10px;
  border-width: 15px;
  border-style: solid;
  border-image: url('../res/vines-border.png') 25% round;
  height: 9em;
  overflow: scroll;
}

.world__actions--content {
  /* margin: 10px; */
}

.world__actions--list-item {
  cursor: pointer;
}

.world__actions--breadcrumb {
  cursor: pointer;
}

