.Page {

}

.vertical-container {
  background:#eee;
  -webkit-flex-direction: column;
  flex-direction: column;
  align-items: center;
}

.vertical-box {
  background: #FFFFFF;
  padding: 3rem;
  width: 50%;
  text-align: center;
}
