.App {
  text-align: center;
  width:960px;
  background: #F0F0F0;
  border: 1px solid #CCC;
  height: 2000px;
  margin: 70px auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

.container {
  display: flex;
}

.box {
  width: 200px;
  height: 200px;
  margin: auto;
}

body {
    margin:0px;
    background:#000;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
