.header {
    text-align: center;
}

.g-window {
    height: 200px;
    background-color: #342E37;
    color: #A2D729;
}

.g-window__content {
    margin: 15px;
}

p img {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}